@import "tailwindcss";

:root {
  --background: #945167;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-ppmori: var(--font-ppmori);
  --font-instrument: var(--font-instrument);
}

.font-instrument {
  font-family: var(--font-instrument), serif;
}

.font-ppmori {
  font-family: var(--font-ppmori), sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #945167;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-ppmori), sans-serif;
}
